.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 260px;
  background: #0F1729;
  z-index: 1000;
  transition: transform 0.3s ease, width 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.sidebar::after {
  content: "";
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.side-head {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 25px;
  padding-right: 25px;
  border-bottom: 1px solid #253244;
}
.logo {
  display: flex;
  gap: 10px;
  align-items: center;
}

.icn-energy {
  background: linear-gradient(130deg, #1b6de0, #13cdfc);
  height: 30px;
  width: 30px;
  padding: 5px;
  border-radius: 10px;
  color: white;
}

.logo h2 {
  font-weight: 800;
  font-size: 18px;
  color: #f8fafc;
}
.icn-side {
  cursor: pointer;
  transition: 0.3s all;
  color: #868c98;
}
.icn-side:hover {
  background-color: #868c9836;
}
.sid-links {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}
.a {
  margin-left: 15px;
  margin-right: 15px;
  display: flex;
  height: 45px;
  align-items: center;
  border-radius: 16px;
  gap: 13px;
  color: #9096a2;
  padding-left: 10px;
  transition: 0.4s all;
  cursor: pointer;
}

.a.active {
  background-color: #1b6de0;
  color: white;
  box-shadow: 0 0 8px #1b6de0;
}

.a.active:hover {
  background-color: #1b6de0;
}

.a:hover {
  background-color: #868c984d;
  color: white;
}

.icn-link {
  font-size: 21px;
}

.user {
  height: 90px;
  border-top: 1px solid #253244;
  display: flex;
  justify-content: center;
  align-items: center;
}
.user-profile {
  display: flex;
  background-color: #253141;
  width: 90%;
  border-radius: 15px;
  height: 80%;
  align-items: center;
  padding-left: 15px;
  gap: 13px;
}

.user-name {
  display: flex;
  flex-direction: column;
}

.icn-user {
  width: 36px;
  height: 36px;
  background: linear-gradient(120deg , #1257b8 , #0bbaff);
  border-radius: 50%;
  padding: 8px;
}

.user-name h4 {
  font-size: 15px;
  color: #edf0f2;
  font-weight: 700;
}
.user-name h5 {
  color: #747b89;
  font-size: 13px;
  position: relative;
  top: -2px;
}

.link {
  margin-top: 8px;
}

/* side bar toggle settings */
.sidebar.hid {
  width: 70px;
  display: flex;
  align-items: center;
}
.hid-link {
  display: none;
}

.hiddd {
  display: flex;
  justify-content: center;
  padding-left: 0;
}
.hiddd-user {
  display: flex;
  justify-content: center;
  padding-left: 0;
  width: 50px;
  height: 60px;
}

.side-hid {
  width: 90%;
  justify-content: center;
}
