.nav-side {
  display: flex;
}

.nav-info {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1;
  margin-left: 0;
  transition: margin-left 0.3s ease;
  min-height: 100vh;
  padding-top: 70px;
}


@media (min-width: 1024px) {
  .nav-side .sidebar + .nav-info {
    margin-left: 260px;
  }

  .nav-side .sidebar.hid + .nav-info {
    margin-left: 70px;
  }
}
