@import "tailwindcss";
.warning {
  position: absolute;
  z-index: 9999;
  
  top: 72px;
  left: 50%;
  transform: translateX(-50%);
  
  background-color: rgba(245, 226, 55, 0.9); 
  backdrop-filter: blur(4px); 
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 12px; 
  
  font-size: 11px;
  font-weight: 600;
  padding: 4px;
  color: #000;
  white-space: nowrap; 
  animation: warningPulse 2s infinite ease-in-out;
}

@keyframes warningPulse {
  0%, 100% { transform: translateX(-50%) scale(0.99); opacity: 0.9; }
  50% { transform: translateX(-50%) scale(1.04); opacity: 1; }
}